.accessories {
  display: flex;
  gap: 15px;
  justify-content: end;
  margin-right: 100px;
  span {
    display: block;
    width: 12px;
    height: 70px;
    background: var(--secondary-color);
    transform: skew(-30deg);
    transition: var(--animation-duration)
  }
}